<h1>Burgers</h1>
<div class="burgers">
  <h2>The burgers to be eaten!</h2>

  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        <li>
          <h5>{{burger_name}}</h5>
          <button class="nom-btn" type="button" name="nom" data-id={{id}}>Eat it!</button>
        </li>
      {{/unless}}
    {{/each}}
  </ul>
</div>
<div class="burgers nommed">
  <h2>Already Eaten Burgers :(</h2>
  <ul>
    {{#each burgers}}
      {{#if devoured}}
        <li>
          <h5>{{burger_name}}</h5>
        </li>
      {{/if}}
    {{/each}}
  </ul>
  <div class="input">
    <h2>Add a new Burger!</h2>
    <form>
      <input id="name" type="text" name="burger-field" value="">
      <button id="sub-btn" type="button" name="button">Submit</button>
    </form>
  </div>
</div>
